ul{
  width: 50rem;
  display: flex;
  padding: 0.2rem;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center;
}
li {
 list-style: none;
}

 img {
  width: 7rem;
}
button{ 
  position: fixed;  
  top: 15rem;
  width: 5rem;
  height: 5rem;
  font-size: xx-large;
}
.backButton{
  left: 0;
}
.nextButton{
  right: 10rem;
}
